[project]
name = "loretta"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiosqlite>=0.21.0",
    "discord-py[speed,voice]>=2.5.2",
    "python-dotenv>=1.1.1",
]
